 .container .example-card {
    max-width: 500px;
    margin: 4px;
   background-color:rgb(117, 180, 216);
   margin-top: 20px;
  }
   .cards{
    display: flex;
   }
   h4{
      color:white
   }

  