<nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">
    <div class="container-fluid">
        <a  class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block" routerLinkActive="active"></a>
        <ul class="navbar-nav align-items-center d-none d-md-flex">
            <li class="nav-item" ngbDropdown="ngbDropdown" placement="bottom-right">
                <a class="nav-link pr-0" ngbDropdownToggle="ngbDropdownToggle" role="button">
                    <div class="media align-items-center">
                        <!-- <span class="avatar avatar-sm rounded-circle"> -->
                            <!-- <img src="../../../assets/img/theme/rty1.png"  alt="Image placeholder" ></span> -->
                            <div class="media-body ml-2 d-none d-lg-block">
                                <span class="mb-0 text-sm  font-weight-bold">My Profile</span>
                            </div>
                        </div>
                    </a>
                    <div class="dropdown-menu-arrow dropdown-menu-right" ngbDropdownMenu="ngbDropdownMenu">
                        <div class=" dropdown-header noti-title">
                            <h6 class="text-overflow m-0">Welcome!</h6>
                        </div>
                        <a [routerLink]="['/user-profile']" class="dropdown-item" routerLinkActive="active">
                            <i class="ni ni-single-02"></i>
                            <span>My profile</span>
                        </a>
                        <a [routerLink]="['/chat']" class="dropdown-item" routerLinkActive="active">
                            <i class="ni ni-settings-gear-65"></i>
                            <span>Chat</span>
                        </a>

                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#!">
                            <i class="ni ni-user-run"></i>
                          <a href="/" > <span>Logout</span></a>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
