 
 <nav  class="navbar navbar-expand-lg navbar-transparent headroom--top  bg-red headroom--pinned">
    <img src="../../../assets/img/brand/logo.png" style="height: 70px;">
      <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed"
            [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse" id="navbar_global" [ngbCollapse]="isCollapsed">
        <div class="navbar-collapse-header">
          <div class="row">
            <div class="row-8 collapse-close">
              <button type="button" class="navbar-toggler" (click)="isCollapsed = !isCollapsed"
                    [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
                <span></span>
                <span></span>
              </button>
            </div>
          </div>
        </div>
        <div class="input-group">
            <input name="title" class="form-control " type="text" placeholder="  Search for ideas" aria-label="Search" #searchBar>
            <div class="search">
            <ul class="navbar-nav align-items-lg-center ml-lg-auto">
            <button class="btn btn-neutral btn-icon"(click)=searchLogs(searchBar.value)>Search</button>
          </ul>
          </div>
        </div>
          <div class="login">
              <ul class="navbar-nav align-items-lg-center ml-lg-auto">
                  <a  [routerLink]="['/login']">
                    <button class="btn btn-neutral btn-icon" [routerLink]="['/login']">Login</button>
                  </a>
              </ul>
            </div>
          
      </div>
   
  </nav>
 