<!-- <app-navbar></app-navbar> -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="wrapper">
            <!-- *ngIf="let z for searchbarComponenet" -->
  <div class="content">
     <!-- card -->
    <a href=""> <div class="card">
           <div class="icon"><i class="material-icons md-36">face</i></div>
           <p class="title">{{searchbarComponenet.title}}</p>
           <p class="text">{{searchbarComponenet.description}}</p>
     </div>
     </a>
     <br>
     <!-- <a href="">back to Home</a> -->
     
  </div>
</div>