<!-- image for profile background -->
<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
  style="min-height: 230px; background-image: url(assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;">
  <span class="mask"></span>
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-7 col-md-10">
        <!-- <h1 class="display-2 text-white">Hello {{serviceProviderData.name}}</h1> -->
        <!-- <p class="text-white mt-0 mb-5">Welcome</p> -->
        <!-- <a (click)="onSubmitUpdate()" class="btn btn-info">Save profile</a> -->
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
      <div class="card card-profile shadow">
        <div class="row justify-content-center">
          <div class="col-lg-3 order-lg-2">
            <div class="card-profile-image">
              <a href="javascript:void(0)">
                <img src="../../../assets/img/theme/rty1.png" class="rounded-circle">
              </a>
            </div>
          </div>
        </div>
        <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
          <div class="d-flex justify-content-between">
          </div>
        </div>
        <div class="card-body pt-0 pt-md-4">
          <div class="row">
            <div class="col">
              <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                <!-- <div>
                  <span class="heading">22</span>
                  <span class="description">Projects</span>
                </div>
                <div>
                  <span class="heading">10</span>
                  <span class="description">Followers</span>
                </div>
                <div>
                  <span class="heading">89</span>
                  <span class="description">Comments</span>
                </div> -->
              </div>
            </div>
          </div>
          <div class="text-center">
            <h3>
              {{serviceProviderData.name}}<span class="font-weight-light"></span>
            </h3>
            <div class="h5 font-weight-300">
              <i class="ni location_pin mr-2"></i>{{serviceProviderData.currentLocation}}
            </div>
            <div class="h5 mt-4">
              <i class="ni business_briefcase-24 mr-2">{{serviceProviderData?.role}}</i>
            </div>
            <div>
              <i class="ni education_hat mr-2"></i>
            </div>
            <hr class="my-4" />
            <!-- <p>Likes music</p> -->
            <a href="javascript:void(0)"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-8 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">My account</h3>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form>
            <h6 class="heading-small text-muted mb-4">User informations</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="name">Name</label>
                    <input [(ngModel)]="serviceProviderData.name" name="name" type="text" name="name"
                      class="form-control form-control-alternative" placeholder={{serviceProviderData.name}}>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="email">Email Id</label>
                    <input name="email" [(ngModel)]="serviceProviderData.email" type="email" id="input-email"
                      class="form-control form-control-alternative" placeholder={{serviceProviderData.email}}
                      readonly="readonly">
                  </div>
                </div>

              </div>


            </div>
            <hr class="my-4" />

            <h6 class="heading-small text-muted mb-4">Contact information</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="form-control-label" for="input-address">Mobile number</label>
                    <input name="mobileno" [(ngModel)]="serviceProviderData.mobileNo"
                      class="form-control form-control-alternative" placeholder={{serviceProviderData.mobileNo}}>
                  </div>
                </div>
              </div>
            </div>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="currentLocation">Current Location</label>
                    <input type="text" name="currentLocation" [(ngModel)]="serviceProviderData.currentLocation"
                      class="form-control form-control-alternative" placeholder={{serviceProviderData.currentLocation}}>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="preferredLocation">Preffered Location</label>
                    <input type="text" name="preferredLocation" [(ngModel)]="serviceProviderData.preferredLocation"
                      class="form-control form-control-alternative"
                      placeholder={{serviceProviderData.preferredLocation}}>
                  </div>
                </div>
              </div>

            </div>
            <hr class="my-4" />

            <h6 class="heading-small text-muted mb-4">Additional Information</h6>
            <div class="row">
              <!-- <div class="col-md-12">
                  <div class="form-group">
                    <label class="form-control-label" for="input-address">Address</label>
                    <input id="input-address" class="form-control form-control-alternative" placeholder="Home Address"
                      value="Kormanagala" type="text">
                  </div>
                </div> -->
            </div>


            <!-- <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="roleName">Role</label>
                    <input type="text" name="role" [(ngModel)]="serviceProviderData.role" class="form-control form-control-alternative" placeholder={{serviceProviderData.role?.role}} >
                  </div>
                </div> -->

            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-4">
                  <label class="form-control-label role" for="Role">Role</label>

                  <form class="example-form">

                    <mat-form-field class="example-full-width roleform">
                      <input type="text" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto"
                        [(ngModel)]="serviceProviderData.role.role" placeholder={{serviceProviderData.role?.roleName}}>
                      <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let role of filteredRoles | async" [value]="role">
                          {{role}}
                        </mat-option>
                      </mat-autocomplete>
                    </mat-form-field>
                  </form>
                </div>

                <div class="col-lg-4">
                  <label class="form-control-label" for="skills">Skills</label>
                  <div class="form-group">
                    <mat-form-field class="projectskills">
                      <mat-chip-list #chipList aria-label="Fruit selection">
                        <mat-chip *ngFor="let skill of skills" [selectable]="selectable" [removable]="removable"
                          (removed)="remove(skill)">
                          {{skill}}
                          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                        </mat-chip>
                        <input placeholder="" #skillInput [formControl]="skillCtrl" [matAutocomplete]="auto2"
                          [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                          [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)"
                          [(ngModel)]="serviceProviderData.role.skills"
                          placeholder={{serviceProviderData.role?.skills}}>
                      </mat-chip-list>
                      <mat-autocomplete #auto2="matAutocomplete" (optionSelected)="selected($event)">
                        <mat-option *ngFor="let skill of filteredSkills | async" [value]="skill">
                          {{skill}}
                        </mat-option>
                      </mat-autocomplete>
                    </mat-form-field>
                  </div>


                  <!-- <div class="form-group">
                    
                    <input type="text" name="skills" [(ngModel)]="serviceProviderData.skills" class="form-control form-control-alternative"
                      placeholder={{serviceProviderData.role?.skills}} >
                  </div> -->
                </div>

                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="experience">Experience</label>
                    <mat-form-field class="projectexperience">
                      <input matInput type="text" name="experience" [(ngModel)]="serviceProviderData.role.experience"
                        placeholder={{serviceProviderData.role?.experiences}}>
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <label class="form-control-label" for="domain">Domain</label>
                  <div class="form-group">
                    <mat-form-field fxFlex class="projectdomain">
                      <mat-label></mat-label>
                      <mat-select name="domain" [(ngModel)]="serviceProviderData.domain"
                            placeholder={{serviceProviderData.domain}}>
                        <mat-option *ngFor="let domain of domains" [value]="domain.name">
                          {{domain.name}}
                        </mat-option>
                      </mat-select>
                  </mat-form-field>
                    <!-- <input type="text" name="domain" [(ngModel)]="serviceProviderData.domain"
                      class="form-control form-control-alternative" placeholder={{serviceProviderData.domain}}> -->
                  </div>
                </div>
                <div class="col-lg-6">
                    <label class="form-control-label" for="subDomain">Sub Domain</label>
                  <div class="form-group">
                      <mat-form-field fxFlex class="projectsubdomains">
                          <input type="text" placeholder="" aria-label="subDomain" matInput [formControl]="myControls"
                          [matAutocomplete]="auto1" [(ngModel)]="serviceProviderData.subDomain"
                          placeholder={{serviceProviderData.subDomains}}>
                        <mat-autocomplete #auto1="matAutocomplete">
                          <mat-option *ngFor="let subdomain of filteredOptions1 | async" [value]="subdomain">
                            {{subdomain}}
                          </mat-option>
                        </mat-autocomplete>
                        
                      </mat-form-field>
                    
                    <!-- <input type="text" name="subDomain" [(ngModel)]="serviceProviderData.subDomain"
                      class="form-control form-control-alternative" placeholder={{serviceProviderData.subDomain}}> -->
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="form-control-label" for="chargePerHour">Charge Per Hour</label>
                    <input name="chargePerHour" [(ngModel)]="serviceProviderData.chargePerHour"
                      class="form-control form-control-alternative" placeholder={{serviceProviderData.chargePerHour}}>
                  </div>
                </div>
                <div class="col-2 text-center">
                  <button class="button3" (click)="onSubmitUpdate()">Save Profile</button>
                </div>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>