<section class="section section-shaped">
    <div class="shape shape-style-1 shape-default bg-gradient-red opacity-6">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="container py-md">
      <div class="row justify-content-between align-items-center">
        <div class="col-lg-5 mb-5 mb-lg-0">
          <h1 class="text-black font-weight-light">Have an idea?</h1>
          <p class="lead text-black mt-4">Waiting for the best team for execution</p>
          <a href="/" class="btn btn-white mt-4">Let's Get Started</a>
        </div>
        <div class="col-lg-6 mb-lg-auto">
          <div class="rounded shadow-lg overflow-hidden transform-perspective-right">
            <ngb-carousel>
                <ng-template ngbSlide>
                  <img class="img-fluid" src="assets/img/theme/teams.gif" alt="First slide">
                </ng-template>
                <ng-template ngbSlide>
                  <img class="img-fluid" src="assets/img/theme/idea.gif" alt="Second slide">
                </ng-template>
            </ngb-carousel>
          </div>
        </div>
      </div>
    </div>
    <div class="separator separator-bottom separator-skew">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </section>
